<div
  class="position-relative overflow-hidden p-3 p-md-5 mt-4 text-center bg-light primary-overlay"
  id="banner"
>
  <div class="col-md-8 mx-auto pt-5 my-5">
    <img
      src="/img/logo-round.png"
      width="96"
      class="rounded-circle mt-5"
      alt=""
    />
    <h1 class="display-3 font-weight-bold pt-4">Capture experiences</h1>
    <p class="lead font-weight-normal">
      A journal app designed with the traveler in mind to easily capture and
      share your story.
    </p>

    <div id="coming_soon" class="text-uppercase" href="#">
      <h4><span class="badge badge-primary">Coming soon</span></h4>
    </div>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div
    class="product-device product-device-2 shadow-sm d-none d-md-block"
  ></div>
</div>
