<footer class="blog-footer">
  <div class="container">
  <div class="row">
    <div class="col-4">
      <p><a href="{{ site.baseurl }}/">{{ site.data.settings.basic_settings.site_title }}</a></p>
    </div>
    <div class="col-4">
        <p>{{ site.data.settings.basic_settings.site_tagline }}</p>
    </div>
    <div class="col-4">
      <ul class="socials">
        {% for url in site.data.settings.social_settings %}
        {% if url[1] != '' %}
        <li class="socials__item">
          <a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
            <i class="fab fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</footer>
  