<div class="row">
    <div class="col-md-12">
        <div class="card mb-4 h-350">
            <img class="" src="{{ site.data.stories.story.image }}">
            <div class="card-body p-5">
                <h1 class="mb-3">
                    <a href="{{site.data.stories.story.link}}">{{site.data.stories.story.title}}</a>
                </h1>  
                
                {% if site.data.stories.story.subtitle %}
                <h4 class="card-subtitle font-italic mb-3"> {{ site.data.stories.story.subtitle }}</h4>
                {% endif %}
                <div class="card-date mb-5">
                    <time datetime="{{site.data.stories.story.dates}}">{{site.data.stories.story.dates}}</time>
                </div>
                <p><a href="{{site.data.stories.story.link}}">Follow the story</a></p>
            </div> 
        </div>
    </div>
</div>