<div class="row">
    {% for post in site.posts %}
    <div class="col-md-12">
        <div class="card mb-4 h-350">
            <img class="" src="{{ post.preview }}">
            <div class="card-body">
                <strong class="d-inline-block mb-2 blog-post-tag">{{ post.tags }}</strong>
                <h3 class="">
                    <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
                <h5 class="blog-post-subtitle"> {{ post.subtitle }}</h5>
                <div class="mb-3 blog-post-date"><time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></div>
                <p class="card-text mb-auto">{{ post.excerpt }}</p>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>


