---
layout: default
---
<div class="page-image">
  <img class="" src="{{ page.preview }}"/>
</div>
<div role="main" class="container">
    
  <div class="row justify-content-md-center">
    <div class="col-8">
      
      <div class="story-header text-center mb-5">
        <h2 class="story-title mb-1">{{ page.title }}
        {% if page.subtitle %}
          <span class="story-subtitle font-italic"> {{ page.subtitle }}</span>
        {% endif %}
        </h2>
        <p class="story-location">{{ page.location }}</p>
        <div class="story-author-img">
            <img src="{{ page.author_avatar }}" class="rounded-circle" />
          </div>
        <p class="story-author mb-5"><span>By</span> {{ page.author }}</p>
        <hr>
      </div> <!-- /.story-header -->

        {% unless page.content == '' %}
          <div>{{ page.content }}</div>
        {% endunless %}
    
        {% unless site.categories.[page.category] | size > 0 %}
          <p>Check back soon for updates to this story.</p>
        {% endunless %}

        {% for post in site.categories.[page.category] %}
        
        <h5 class="post-title">{{ post.title }}</h5>
        {% if post.subtitle %}
          <h6 class="post-subtitle">{{ post.subtitle }}</h6>
        {% endif %}
        <p class="blog-post-date">{{ post.date | date: "%B %-d, %Y" }}</p>

        {{ post.content }}

        <hr class="mt-5 mb-5">
        {% endfor %}
      </div>
    </div><!-- /.blog-post -->  
      
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</div> 
