---
layout: default
---

<div role="main" class="container">
    
  <div class="row">
    <div class="page-image mb-5">
      <img class="img-fluid" src="{{ page.preview }}"/>
    </div>
    <div class="col">
      
      <div class="story-header text-center mb-5">
        <h2 class="story-title mb-1">{{ page.title }}</h2> 
        {% if page.subtitle %}
          <h5 class="story-subtitle font-italic"> {{ page.subtitle }}</h5>
        {% endif %}
        
        <p class="story-location">{{ page.location }}</p>
        <div class="story-author-img">
          <img src="{{ page.author_avatar }}" class="rounded-circle" />
        </div>
        <p class="story-author mb-5"><span>By</span> {{ page.author }}</p>
        <hr>
      </div> <!-- /.story-header -->
      
      {% for post in site.categories.[page.category] %}
      
        <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>

        <h5 class="post-title">{{ post.title }}</h5>
        {% if post.subtitle %}
          <p class="post-subtitle mb-4"><i class="fas fa-map-marker-alt"></i> {{ post.subtitle }}</p>
        {% endif %}
        <div class="blog-post-content">
        {{ post.content }}
        </div>  
        <hr class="my-5">
      {% endfor %}
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</div> 
